
html {
  box-sizing: content-box;
}

html * {
  box-sizing: inherit;
}

h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

header {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.576);
  height: 200px;
}

.contenedor-header {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input {
  width: 300px;
  height: 20px;

  border: 2px solid rgba(0, 0, 0, 0.587);
  border-radius: 5px;
  padding-left: 5px;
}